body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

#app {
    width: 100%;
}

.code-block {
    margin: 0.5em;
    padding: 0.2em 1em;
    color: #030;
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 0.2em;
}

.gear-box {
    position: relative;
    width: 50px;
    height: 50px;
    transition: transform 300ms 0s ease;
}

.gear-box > .gear {
    width: 50px;
    height: 50px;
    color: #ccc;
    border-radius: 100%;
    border: 2px solid #999;
    background-color: #666;
    box-sizing: border-box;
}

.gear-box.correct > .gear {
    border: 2px solid #ccc;
    background-color: #999;
}

.gear-box > .gear:before {
    position: relative;
    top: 50%;
    left: 50%;
    content: "";
    display: inline-block;
    width: inherit;
    height: inherit;

    border: 2px dashed;
    border-radius: inherit;
    border-color: #999;
    transform: translate(-50%,-50%);
}

.gear-box.correct > .gear:before {
    border-color: #ccc;
}

.gear-box > .arrow {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #311;
}

.gear-box.correct > .arrow {
    border-bottom: 15px solid #977;
}

.gear-board {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playground > .board-holder {
    margin: 0.5em;
    padding: 1px;
    border: solid 1px #999;
    background-color: #ccc;
    border-radius: 0.3em;
}

.playground.cleared > .board-holder {
    border: solid 1px #9c9;
    background-color: #cfc;
}
.playground > .board-holder > .board {
    margin: 0;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    border: solid 1px #999;
    background-color: white;
}

.submit {
    width: 80%;
}

.test-case-list {
    width: 100%;
}

.test-case-panel {
    position: relative;
    width: 100%;
    margin: 0.5em;
    padding: 1px;
    color: #333;
    border: solid 1px #999;
    background-color: #ccc;
    border-radius: 0.3em;
}

.test-case-panel.accepted {
    color: #363;
    border: solid 1px #9c9;
    background-color: #cfc;
}

.test-case-panel.wrong-answer {
    color: #633;
    border: solid 1px #c99;
    background-color: #fcc;
}

.test-case-header {
    margin-left: 1em;
}

.test-case-panel-body {
    padding: 0.5em;
    border-radius: 0.3em;
    border: solid 1px #999;
    background-color: white;
    display: flex;
}

.error-message {
    margin: 0.5em;
}